config.yaml
config.availability.yaml
.env
.venv/
data/
*.sqlite3*
.pytest_cache/
.coverage
__pycache__
config-c.yaml
config-r.yaml
output-celebrity.txt
output-json-celebrity.txt
output-json-royal.txt
output-royal.txt
.DS_Store
